mandelbrot
times.txt
mandelbrot_blgv_serial.pgm
mandelbrot_blgv_openmp.pgm
mandelbrot_blgv_pthreads1.pgm
mandelbrot_blgv_pthreads2.pgm
Testes/teste1_serial.txt
Testes/teste2_openmp.txt
Testes/teste3_pthreads1.txt
